
<h1>Minha página que utiliza o template main</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem impedit excepturi, tempore omnis expedita molestias corporis explicabo recusandae commodi quis vero exercitationem ex harum veritatis possimus placeat! Odit, dolore ea?</p>
<p>{{MinhaVariavel}}</p>